div.card{
    /* background-color: rgba(0,0,0,0.4); */
    color: #454545;
    max-width: 90%;
    text-align: left;
    margin: 0 auto;
    padding: 30px;
}

div.card img{
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

div.card iframe{
    margin: 0 auto;

    height: 120px;
    width: 400px;
    frameborder: 0;
    scrolling: yes;
}
