
div.about
    h2 This is about card
    p will contain information about the show, including begin, frequency and avaliable platform.
    a(href=workflow_1.url target="_blank")
        img(src=workflow_1.img)
    
    
    


  
