include header.pug
section.contact.fullPage
    div(class="img-responsive imgBackground img-fluid")
        h2.title Contact us
        div.buttonSec
            a(class='mainButton button form' 
            target="_blank"
            href='https://theyijen.typeform.com/to/hQEHfQ') 參與離島人錄音
            a(class="mainButton typeform-share button form" 
              href="https://theyijen.typeform.com/to/hQEHfQ" 
              target="_blank") 各種意見回饋
        
include footer.pug
