include header.pug
section.contact.fullPage
    div(class="img-responsive imgBackground img-fluid")
        h2.title Contact us
        div.buttonSec
            a(class='mainButton button form' 
            target="_blank"
            href='http://bit.ly/share_humansoffshore') 分享經驗 播客錄音
            a(class="mainButton typeform-share button form" 
              href="http://bit.ly/bios_humansoffshore" 
              target="_blank") 私訊聯絡離島人
        
include footer.pug
