include header.pug

//- section.episode.fullPage
//-     div(class="img-responsive imgBackground img-fluid")
iframe(class="episodes" src="https://anchor.fm/humansoffshore/episodes/Ep051---e8rvt6/a-a10jbl8")
    //- div.row
    //-     .column.latest
    //-         h3 #{latest.title}
    //-         img(class="latest-episode" src=latest.img)
    //- 
    //- 
    //-         p #{latest.description[0]}
    //-         p #{latest.description[1]}
    //-     .column.previous
    //-         h2 ep list
    //-         include allEpi.pug


    
        
include footer.pug
