include header.pug

section.event.fullPage
    div(class="img-responsive imgBackground img-fluid")
        h2.this is EVENT route
        p SNS links or listener feedback
    
    
    include footer.pug
    
