div.footer
    span #{footer.note}

    a(target="_blank"
    href='http://bit.ly/humansoffshore_fb')
      img(class="snsIcon" src="https://img.icons8.com/officel/160/000000/facebook-new.png")
    a(target="_blank"
    href='http://bit.ly/humansoffshore_ig')
      img(class="snsIcon" src="https://img.icons8.com/officel/160/000000/instagram-new.png")
    a(target="_blank"
    href='http://bit.ly/humansoffshore_anchorfm')
      img(class="snsIcon" src="https://img.icons8.com/flat_round/64/000000/microphone--v2.png")
