html
    head
        meta("charset='utf-8', name='viewport', content='width=device-width, initial-scale=1.0', maximum-scale=1, user-scalable=0")
        
        
        script(src='../libs/bootstrap.min.js')
        
        style
            include ../css/style.css
            include ../css/card.css
            include ../libs/bootstrap.min.css
        title 離島人 | Humans Offshore
    body
      div.header
        h4 #{header.note}
        
      
      
