html
    head
        meta("charset='utf-8', name='viewport', content='width=device-width, initial-scale=1.0', maximum-scale=1, user-scalable=0")
        
        
        script(src='../libs/bootstrap.min.js')
        
        style
            include ../css/style.css
            include ../css/navbar.css
            include ../css/contact.css
            include ../css/card.css
            include ../css/button.css
            include ../css/snsIcon.css
            include ../css/image.css
            include ../libs/bootstrap.min.css
        title 離島人 | Humans Offshore
    body
      div.header
        nav.navbar.navbar-expand-md.navbar-dark.fixed-top
            div.container
                a(class="navbar-brand" href="/")
                    p 離島人｜Humans Offshore
                button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
                    span(class="navbar-toggler-icon")
                div(class="collapse navbar-collapse" id="navbarSupportedContent")
                    ul(class="navbar-nav ml-md-auto")
                        li(class="nav-item")
                            a(class="nav-link" href="/episode") Episodes 
                        li(class="nav-item")
                            a(class="nav-link" href="/event") Event
                        li(class="nav-item")
                            a(class="nav-link" href="about") About
                        li(class="nav-item")
                            a(class="nav-link" href="contact") Contact
        
      
      
