
include header.pug

section.welcome.fullPage
    div(class="img-responsive imgBackground img-fluid")
        h2.title #{index.title}
        p #{index.description}
        a(class='button form' 
          href='google.com') 分享經驗
    iframe(src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fhumansoffshore%2F&width=450&layout=standard&action=like&size=small&show_faces=true&share=true&height=80&appId" width="450" height="80" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media")



section.listen.fullPage
    include listen.pug
        
    include footer.pug
